# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_DB=name

# Email settings for MailHog
EMAIL_HOST=mailhog
EMAIL_PORT=1000
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False